<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rimi.ruiFeng.mapper.CourseintroductionTableMapper">
  <resultMap id="BaseResultMap" type="com.rimi.ruiFeng.bean.CourseintroductionTable">
    <!--@mbg.generated-->
    <!--@Table courseintroduction_table-->
    <id column="CourseIntroduction_id" jdbcType="INTEGER" property="courseintroductionId" />
    <result column="CourseIntroduction_Type" jdbcType="VARCHAR" property="courseintroductionType" />
    <result column="CourseIntroduction_narrate" jdbcType="VARCHAR" property="courseintroductionNarrate" />
    <result column="CourseIntroduction_summarize" jdbcType="VARCHAR" property="courseintroductionSummarize" />
    <result column="CourseIntroduction_application" jdbcType="VARCHAR" property="courseintroductionApplication" />
    <result column="CourseIntroduction_significance" jdbcType="VARCHAR" property="courseintroductionSignificance" />
    <result column="CourseIntroduction_university" jdbcType="VARCHAR" property="courseintroductionUniversity" />
    <result column="CourseIntroduction_distinction" jdbcType="VARCHAR" property="courseintroductionDistinction" />
    <result column="CourseIntroduction_grade" jdbcType="VARCHAR" property="courseintroductionGrade" />
    <result column="CourseIntroduction_Boutique" jdbcType="VARCHAR" property="courseintroductionBoutique" />
    <result column="CourseIntroduction_teacher" jdbcType="VARCHAR" property="courseintroductionTeacher" />
    <result column="CourseIntroduction_watchnumber" jdbcType="VARCHAR" property="courseintroductionWatchnumber" />
    <result column="CourseIntroduction_price" jdbcType="VARCHAR" property="courseintroductionPrice" />
    <result column="CourseIntroduction_discount" jdbcType="VARCHAR" property="courseintroductionDiscount" />
    <result column="CourseIntroduction_breviarypictyre" jdbcType="VARCHAR" property="courseintroductionBreviarypictyre" />
    <result column="CourseIntroduction_breviarypictyreApp" jdbcType="VARCHAR" property="courseintroductionBreviarypictyreapp" />
    <result column="CourseIntroduction_totaltime" jdbcType="VARCHAR" property="courseintroductionTotaltime" />
    <association property="teacherTables" javaType="com.rimi.ruiFeng.bean.TeacherTable">
      <id column="teacher_Id" jdbcType="INTEGER" property="teacherId" />
      <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
      <result column="teacher_info" jdbcType="VARCHAR" property="teacherInfo" />
      <result column="teacher_Characteristics" jdbcType="VARCHAR" property="teacherCharacteristics" />
      <result column="teacher_direction" jdbcType="VARCHAR" property="teacherDirection" />
      <result column="teacher_video" jdbcType="VARCHAR" property="teacherVideo" />
      <result column="teacher_headportrait" jdbcType="VARCHAR" property="teacherHeadportrait" />
    </association>
    <collection property="selectAllVideoData" ofType="com.rimi.ruiFeng.bean.VideoTable">
      <id column="Video_ID" jdbcType="INTEGER" property="videoId" />
      <result column="Video_coding" jdbcType="VARCHAR" property="videoCoding" />
      <result column="Video_tearch" jdbcType="VARCHAR" property="videoTearch" />
      <result column="Video_Watchnumber" jdbcType="VARCHAR" property="videoWatchnumber" />
      <result column="Video_suit" jdbcType="VARCHAR" property="videoSuit" />
      <result column="Video_subject" jdbcType="VARCHAR" property="videoSubject" />
      <result column="Video_chapter" jdbcType="VARCHAR" property="videoChapter" />
      <result column="Video_introduce" jdbcType="VARCHAR" property="videoIntroduce" />
      <result column="Video_pricetype" jdbcType="VARCHAR" property="videoPricetype" />
      <result column="Video_price" jdbcType="VARCHAR" property="videoPrice" />
      <result column="Video_discount" jdbcType="VARCHAR" property="videoDiscount" />
      <result column="Video_breviarypicture" jdbcType="VARCHAR" property="videoBreviarypicture" />
      <result column="Video_site" jdbcType="VARCHAR" property="videoSite" />
      <result column="Video_chapterTiem" jdbcType="VARCHAR" property="videoChaptertiem" />
      <result column="Video_coursetitle" jdbcType="VARCHAR" property="videoCoursetitle" />
      <collection property="selectAllCommentTable" ofType="com.rimi.ruiFeng.bean.CommentTable">
        <id column="comment_ID" jdbcType="INTEGER" property="commentId" />
        <result column="comment_coding" jdbcType="VARCHAR" property="commentCoding" />
        <result column="comment_user" jdbcType="VARCHAR" property="commentUser" />
        <result column="comment_time" jdbcType="VARCHAR" property="commentTime" />
        <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
      </collection>
    </collection>


  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    CourseIntroduction_id, CourseIntroduction_Type, CourseIntroduction_narrate, CourseIntroduction_summarize, 
    CourseIntroduction_application, CourseIntroduction_significance, CourseIntroduction_university, 
    CourseIntroduction_distinction, CourseIntroduction_grade, CourseIntroduction_Boutique, 
    CourseIntroduction_teacher, CourseIntroduction_watchnumber, CourseIntroduction_price, 
    CourseIntroduction_discount, CourseIntroduction_breviarypictyre, CourseIntroduction_breviarypictyreApp, 
    CourseIntroduction_totaltime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from courseintroduction_table
    where CourseIntroduction_id = #{courseintroductionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from courseintroduction_table
    where CourseIntroduction_id = #{courseintroductionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="CourseIntroduction_id" keyProperty="courseintroductionId" parameterType="com.rimi.ruiFeng.bean.CourseintroductionTable" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into courseintroduction_table (CourseIntroduction_Type, CourseIntroduction_narrate, 
      CourseIntroduction_summarize, CourseIntroduction_application, 
      CourseIntroduction_significance, CourseIntroduction_university, 
      CourseIntroduction_distinction, CourseIntroduction_grade, 
      CourseIntroduction_Boutique, CourseIntroduction_teacher, 
      CourseIntroduction_watchnumber, CourseIntroduction_price, 
      CourseIntroduction_discount, CourseIntroduction_breviarypictyre, 
      CourseIntroduction_breviarypictyreApp, CourseIntroduction_totaltime
      )
    values (#{courseintroductionType,jdbcType=VARCHAR}, #{courseintroductionNarrate,jdbcType=VARCHAR}, 
      #{courseintroductionSummarize,jdbcType=VARCHAR}, #{courseintroductionApplication,jdbcType=VARCHAR}, 
      #{courseintroductionSignificance,jdbcType=VARCHAR}, #{courseintroductionUniversity,jdbcType=VARCHAR}, 
      #{courseintroductionDistinction,jdbcType=VARCHAR}, #{courseintroductionGrade,jdbcType=VARCHAR}, 
      #{courseintroductionBoutique,jdbcType=VARCHAR}, #{courseintroductionTeacher,jdbcType=VARCHAR}, 
      #{courseintroductionWatchnumber,jdbcType=VARCHAR}, #{courseintroductionPrice,jdbcType=VARCHAR}, 
      #{courseintroductionDiscount,jdbcType=VARCHAR}, #{courseintroductionBreviarypictyre,jdbcType=VARCHAR}, 
      #{courseintroductionBreviarypictyreapp,jdbcType=VARCHAR}, #{courseintroductionTotaltime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="CourseIntroduction_id" keyProperty="courseintroductionId" parameterType="com.rimi.ruiFeng.bean.CourseintroductionTable" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into courseintroduction_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseintroductionType != null">
        CourseIntroduction_Type,
      </if>
      <if test="courseintroductionNarrate != null">
        CourseIntroduction_narrate,
      </if>
      <if test="courseintroductionSummarize != null">
        CourseIntroduction_summarize,
      </if>
      <if test="courseintroductionApplication != null">
        CourseIntroduction_application,
      </if>
      <if test="courseintroductionSignificance != null">
        CourseIntroduction_significance,
      </if>
      <if test="courseintroductionUniversity != null">
        CourseIntroduction_university,
      </if>
      <if test="courseintroductionDistinction != null">
        CourseIntroduction_distinction,
      </if>
      <if test="courseintroductionGrade != null">
        CourseIntroduction_grade,
      </if>
      <if test="courseintroductionBoutique != null">
        CourseIntroduction_Boutique,
      </if>
      <if test="courseintroductionTeacher != null">
        CourseIntroduction_teacher,
      </if>
      <if test="courseintroductionWatchnumber != null">
        CourseIntroduction_watchnumber,
      </if>
      <if test="courseintroductionPrice != null">
        CourseIntroduction_price,
      </if>
      <if test="courseintroductionDiscount != null">
        CourseIntroduction_discount,
      </if>
      <if test="courseintroductionBreviarypictyre != null">
        CourseIntroduction_breviarypictyre,
      </if>
      <if test="courseintroductionBreviarypictyreapp != null">
        CourseIntroduction_breviarypictyreApp,
      </if>
      <if test="courseintroductionTotaltime != null">
        CourseIntroduction_totaltime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseintroductionType != null">
        #{courseintroductionType,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionNarrate != null">
        #{courseintroductionNarrate,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionSummarize != null">
        #{courseintroductionSummarize,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionApplication != null">
        #{courseintroductionApplication,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionSignificance != null">
        #{courseintroductionSignificance,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionUniversity != null">
        #{courseintroductionUniversity,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionDistinction != null">
        #{courseintroductionDistinction,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionGrade != null">
        #{courseintroductionGrade,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionBoutique != null">
        #{courseintroductionBoutique,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionTeacher != null">
        #{courseintroductionTeacher,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionWatchnumber != null">
        #{courseintroductionWatchnumber,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionPrice != null">
        #{courseintroductionPrice,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionDiscount != null">
        #{courseintroductionDiscount,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionBreviarypictyre != null">
        #{courseintroductionBreviarypictyre,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionBreviarypictyreapp != null">
        #{courseintroductionBreviarypictyreapp,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionTotaltime != null">
        #{courseintroductionTotaltime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rimi.ruiFeng.bean.CourseintroductionTable">
    <!--@mbg.generated-->
    update courseintroduction_table
    <set>
      <if test="courseintroductionType != null">
        CourseIntroduction_Type = #{courseintroductionType,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionNarrate != null">
        CourseIntroduction_narrate = #{courseintroductionNarrate,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionSummarize != null">
        CourseIntroduction_summarize = #{courseintroductionSummarize,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionApplication != null">
        CourseIntroduction_application = #{courseintroductionApplication,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionSignificance != null">
        CourseIntroduction_significance = #{courseintroductionSignificance,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionUniversity != null">
        CourseIntroduction_university = #{courseintroductionUniversity,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionDistinction != null">
        CourseIntroduction_distinction = #{courseintroductionDistinction,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionGrade != null">
        CourseIntroduction_grade = #{courseintroductionGrade,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionBoutique != null">
        CourseIntroduction_Boutique = #{courseintroductionBoutique,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionTeacher != null">
        CourseIntroduction_teacher = #{courseintroductionTeacher,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionWatchnumber != null">
        CourseIntroduction_watchnumber = #{courseintroductionWatchnumber,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionPrice != null">
        CourseIntroduction_price = #{courseintroductionPrice,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionDiscount != null">
        CourseIntroduction_discount = #{courseintroductionDiscount,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionBreviarypictyre != null">
        CourseIntroduction_breviarypictyre = #{courseintroductionBreviarypictyre,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionBreviarypictyreapp != null">
        CourseIntroduction_breviarypictyreApp = #{courseintroductionBreviarypictyreapp,jdbcType=VARCHAR},
      </if>
      <if test="courseintroductionTotaltime != null">
        CourseIntroduction_totaltime = #{courseintroductionTotaltime,jdbcType=VARCHAR},
      </if>
    </set>
    where CourseIntroduction_id = #{courseintroductionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rimi.ruiFeng.bean.CourseintroductionTable">
    <!--@mbg.generated-->
    update courseintroduction_table
    set CourseIntroduction_Type = #{courseintroductionType,jdbcType=VARCHAR},
      CourseIntroduction_narrate = #{courseintroductionNarrate,jdbcType=VARCHAR},
      CourseIntroduction_summarize = #{courseintroductionSummarize,jdbcType=VARCHAR},
      CourseIntroduction_application = #{courseintroductionApplication,jdbcType=VARCHAR},
      CourseIntroduction_significance = #{courseintroductionSignificance,jdbcType=VARCHAR},
      CourseIntroduction_university = #{courseintroductionUniversity,jdbcType=VARCHAR},
      CourseIntroduction_distinction = #{courseintroductionDistinction,jdbcType=VARCHAR},
      CourseIntroduction_grade = #{courseintroductionGrade,jdbcType=VARCHAR},
      CourseIntroduction_Boutique = #{courseintroductionBoutique,jdbcType=VARCHAR},
      CourseIntroduction_teacher = #{courseintroductionTeacher,jdbcType=VARCHAR},
      CourseIntroduction_watchnumber = #{courseintroductionWatchnumber,jdbcType=VARCHAR},
      CourseIntroduction_price = #{courseintroductionPrice,jdbcType=VARCHAR},
      CourseIntroduction_discount = #{courseintroductionDiscount,jdbcType=VARCHAR},
      CourseIntroduction_breviarypictyre = #{courseintroductionBreviarypictyre,jdbcType=VARCHAR},
      CourseIntroduction_breviarypictyreApp = #{courseintroductionBreviarypictyreapp,jdbcType=VARCHAR},
      CourseIntroduction_totaltime = #{courseintroductionTotaltime,jdbcType=VARCHAR}
    where CourseIntroduction_id = #{courseintroductionId,jdbcType=INTEGER}
  </update>
    <select id="selectType" resultMap="BaseResultMap">
      select *
      from courseintroduction_table where CourseIntroduction_Boutique=#{type};
    </select>
  <select id="selectAllSuit" resultMap="BaseResultMap">
    select *
    from courseintroduction_table;
  </select>
  <select id="selectLearningType" resultMap="BaseResultMap">
    select *
    from courseintroduction_table where CourseIntroduction_Type=#{learningType};
  </select>
  <select id="selectDistinction" resultMap="BaseResultMap">
    select *
    from courseintroduction_table where CourseIntroduction_distinction=#{distinction};
  </select>
  <select id="selectASingle" resultType="java.util.List">
    select * from courseintroduction_table c1 join video_table v1 join comment_table c2 on c1.CourseIntroduction_distinction = v1.Video_suit and v1.Video_coding = c2.comment_coding where c1.CourseIntroduction_distinction=#{distinction}   ;
  </select>
  <select id="selectCRCcomment" resultMap="BaseResultMap">
    select *
    from courseintroduction_table c1 join teacher_table t1 on c1.CourseIntroduction_teacher = t1.teacher_name where c1.CourseIntroduction_distinction=#{distinction};
  </select>
  <select id="selectAllVideoData" resultMap="BaseResultMap">
    select *
    from courseintroduction_table c1 join teacher_table t1 on c1.CourseIntroduction_teacher = t1.teacher_name  ;
  </select>
  <select id="selectASingleNo" resultType="java.util.List">
    select * from courseintroduction_table c1 join video_table v1 join comment_table c2 on c1.CourseIntroduction_distinction = v1.Video_suit and v1.Video_coding = c2.comment_coding ;
  </select>
</mapper>